:root {
  font-family: "Roboto", sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  --color-dark1: #2c2c2c;
  --color-dark2: #242323;
  --color-yelow1: #facc15;
  --color-blue1: #747bff;
  --color-blue2: #a7abfa;
  --color-blue3: #4e5072;
  --color-red1: #cf3131;

  --dark-gray: #a9a9a9;
  --light-gray: #d3d3d3;

  --fg: #ffffffde;
  --input: #2e3138;

  --dur: 1s;
  font-size: calc(16px + (24 - 16) * (100vw - 320px) / (1280 - 320));

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 2rem 3rem;
  min-width: 320px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center; /* Vertically center */
  justify-content: space-between;
  width: 100vw; /* Ensure body takes full viewport width */
  overflow-x: hidden; /* Prevent horizontal scroll if content exceeds viewport */
}

.app {
  display: flex;
  flex-direction: column;
  width: 900px; /* Set width to 100% */
  max-width: 1280px; /* Optional: restrict the maximum width */
  margin: 0 auto; /* Center the app horizontally */
}
/*****************/
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 16px;
  width: 100%;
  gap: 70px;
}

.links {
  display: flex;
  gap: 30px;
}

.links a {
  text-decoration: none;
  transition: all 0.3s;
  /*fix shaking in animation*/
  backface-visibility: hidden;
}

a:hover {
  cursor: pointer;
  scale: 1.1;
  color: var(--dark-gray);
}

.headerLogo {
  color: var(--color-blue1);
}
/*****************/
.main {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem 2rem;
  /*fix shaking in animation*/
  backface-visibility: hidden;
  gap: 2rem;
}
.right {
  background-color: var(--color-blue3);
  border: 1px solid var(--color-blue3);
  border-radius: 10px;
  width: 40vw;
  height: 70vh;
  font-size: 15px;
  text-align: center;
  border-radius: 1rem;
}

.left {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

/*****************/
.main-img {
  width: 40vw;
  height: 70vh;
  border-radius: 10px;
}

/******detail1********/
.detail1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  height: 80vh;
  gap: 1rem;
  background-color: var(--light-gray);
  color: var(--color-dark1);
}

.images {
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;
  gap: 20px;
  padding: 1rem;
}

.image {
  border: 1px solid var(--color-dark1);
  height: 180px;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.3s;
}

.image:hover {
  border: none;
  cursor: pointer;
  margin-top: 1rem;
  border: 1px solid var(--color-dark1);
  scale: 1.1;
}

.image-part {
  display: flex;
  flex-direction: column;
  width: 180px;
  gap: 1rem;
}
/*****detail2*****/
.detail2 {
  background-color: var(--color-blue3);
  color: var(--light-gray);
  padding: 2rem;
  display: flex;
  flex-direction: column;
  position: relative;
  gap: 5rem;
}

.detail2 h4 {
  font-style: italic;
  position: absolute;
  bottom: 10px;
  right: 10px;
  padding: 2rem;
}

.detail2 p {
  margin-bottom: 3rem; /* Ensure p has a 3rem margin at the bottom */
}

/*****detail3*******/
.detail3 {
  background-color: var(--light-gray);
  bottom: 10px;
  right: 10px;
  padding: 2rem;
  font-size: 0.8rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.detail3-part {
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: row;
  background-color: var(--color-blue1);
  color: var(--color-dark1);
  gap: 8rem;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  height: 100px;
}
/*****************/
.btn {
  width: 130px;
  height: 50px;
  background-color: var(--color-blue1);
  border-radius: 10px;
  border: none;
  transition: all 0.3s;
  margin: 1rem 5px;
  padding: 0.5rem;
  font-size: 1rem;
  cursor: pointer;
}

.btn:hover {
  background-color: var(--color-blue3);
  scale: 1.1;
  /* box-shadow: inset 0px 0px 30px 0px var(--color-blue2); */
}

.btn1 {
  width: 150px;
  font-size: 0.8rem;
}

.btn2 {
  background-color: var(--color-blue2);
  font-size: 0.8rem;
}

footer {
  font-size: 0.6rem;
  text-align: center;
  margin: 1rem;
}

footer a {
  text-decoration: none;
}
